<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>br.com.rarolabs.rvp.api.endpoints.MembrosAPI,br.com.rarolabs.rvp.api.endpoints.RedesAPI,br.com.rarolabs.rvp.api.endpoints.UsuariosAPI,br.com.rarolabs.rvp.api.endpoints.UtilsAPI,br.com.rarolabs.rvp.api.endpoints.RegistroDispositivoAPI</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>br.com.rarolabs.rvp.api.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/blob/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>atualiza_endereco</servlet-name>
        <servlet-class>br.com.rarolabs.rvp.api.servlet.AtualizaEnderecoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>atualiza_endereco</servlet-name>
        <url-pattern>/atualiza_endereco</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>