<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rarolabs.com.br.rvp"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="rarolabs.com.br.rvp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="rarolabs.com.br.rvp.permission.C2D_MESSAGE" />

    <application
        android:name=".config.RVPApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="rvp.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="rarolabs.com.br.rvp.models" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="rarolabs.com.br.rvp" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="rarolabs.com.br.rvp.broadcast.FECHAR_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="rarolabs.com.br.rvp.broadcast.MOSTRA_ALERTA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RedeActivity"
            android:label="@string/title_activity_rede"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="rarolabs.com.br.rvp.broadcast.MOSTRA_ALERTA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RedeActivity" />
            >
            <intent-filter>
                <action android:name="rarolabs.com.br.rvp.broadcast.MOSTRA_ALERTA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            >
            <intent-filter>
                <action android:name="rarolabs.com.br.rvp.broadcast.MOSTRA_ALERTA" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartUpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.alertas.CriarAlertaActivity"
            android:label="@string/title_activity_criar_alerta"
            android:theme="@style/AppThemeLight" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            >
        </activity>
        <activity
            android:name=".activities.alertas.AlertaActivity"
            android:label="@string/title_activity_alerta"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="rarolabs.com.br.rvp.broadcast.MOSTRA_ALERTA" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            >
        </activity>
    </application>

</manifest>
